﻿@model Library.Models.Branch.BranchDetailModel

@{
    ViewBag.Title = @Model.Name + " Branch";
}

<div class="container">
    <div class="header clearfix detailHeading">
        <h2 class="text-muted">Branch Information</h2>
    </div>
    <div class="jumbotron">
        <div class="row">
            <img src="@Model.ImageUrl" width="100%"/>
        </div>
        <div class="row branchInfo">
            <div class="col-md-8">
                <div>
                    <h2>@Model.Name</h2>
                    <div class="branchContact">
                        <div id="branchAddress">Address: @Model.Address</div>
                        <div id="branchTel">Telephone: @Model.Telephone</div>
                    </div>
                    <div id="branchDescription">
                        <p class="caption">@Model.Description</p>
                    </div>

                    <div id="branchHours">
                        <ul>
                            @foreach (var day in @Model.HoursOpen)
                            {
                                <li>@day</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 detailInfo">
                <table>
                    <tr>
                        <td class="itemLabel">Date Opened: </td>
                        <td class="itemValue">@Model.OpenDate</td>
                    </tr>
                    <tr>
                        <td class="itemLabel">Number Of Patrons: </td>
                        <td class="itemValue">@Model.NumberOfPatrons</td>
                    </tr>
                    <tr>
                        <td class="itemLabel">Number of Assets: </td>
                        <td class="itemValue">@Model.NumberOfAssets</td>
                    </tr>
                    <tr>
                        <td class="itemLabel">Value of Assets: </td>
                        <td class="itemValue">$@Model.TotalAssetsValue</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>