﻿@model Library.Models.Patron.PatronDetailModel

    <div class="container">
        <div class="header clearfix detailHeading">
            <h2 class="text-muted">Patron Information</h2>
        </div>
        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-4">
                    <div>
                        <h2>@Model.FirstName @Model.LastName</h2>
                        <div class="patronContact">
                            <div id="patronTel">Library Card ID: @Model.LibraryCardId</div>
                            <div id="patronAddress">Address: @Model.Address</div>
                            <div id="patronTel">Telephone: @Model.Telephone</div>
                            <div id="patronDate">Member Since: @Model.MemberSince</div>
                            <div id="patronLibrary">Home Library: @Model.HomeLibraryBranch</div>
                            @if (@Model.OverdueFees > 0)
                            {
                                <div id="patronHasFees">Current Fees Due: $@Model.OverdueFees</div>
                            }
                            else
                            {
                                <div id="patronNoFees">No Fees Currently Due.</div>

                            }
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <h4>Assets Currently Checked Out</h4>
                    @if (@Model.AssetCheckOut.Any())
                    {
                        <div id="patronAssets">
                            <ul>
                                @foreach (var checkout in @Model.AssetCheckOut)
                                {
                                    <li>
                                        @checkout.LibraryAsset.Title - (Library Asset ID: @checkout.LibraryAsset.Id)
                                        <ul>
                                            <li>
                                                Since: @checkout.Since
                                            </li>
                                            <li>
                                                Due: @checkout.Until
                                            </li>
                                        </ul>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                    else
                    {
                        <div>No items currently checked out.</div>

                    }
                </div>

                <div class="col-sm-4">
                    <h4>Assets Currently On Hold</h4>
                    @if (@Model.Holds.Any())
                    {
                        <div id="patronHolds">
                            <ul>
                                @foreach (var hold in @Model.Holds)
                                {
                                    @*<li>@hold.LibraryAsset.Title - Placed @hold.HoldPlaced.ToString("yy-dd-MM - HH:mm")</li>*@
                                }
                            </ul>
                        </div>
                    }
                    else
                    {
                        <div>No items on hold.</div>
                    }
                </div>
            </div>
        </div>
    </div>